In [ ]:
# Sequences: Strings, Lists, Tuples

## indexing- allows you to access any item in the sequence using it's index. Indexes start at 0.

In [10]:
#string
# print each letter
x = 'frog'
print(x[0])
print(x[1])
print(x[2])
print(x[3])

#list- holds list of strings
# print each string
x = ['pig', 'cow', 'horse']
print(x[0])
print(x[1])
print(x[2])

#tuple
# print each name
x = ('Kenvin', 'Nick', 'Jenny', 'Craig')
print(x[0])
print(x[1])
print(x[2])
print(x[3])

# adjust tuple replace Nick with Jason
y = list(x)
y[1] = "Jason"
x = tuple(y)
print(x)

# adjust tuple to add Nick to end
y = list(x)
y.append("Nick")
x = tuple(y)
print(x)

# take jason off
y = list(x)
y.pop()
x = tuple(y)
print(x)

f
r
o
g
pig
cow
horse
Kenvin
Nick
Jenny
Craig
('Kenvin', 'Jason', 'Jenny', 'Craig')
('Kenvin', 'Jason', 'Jenny', 'Craig', 'Nick')
('Kenvin', 'Jason', 'Jenny', 'Craig')

In [12]:
# slicing, 3 possible parameters [start:end+1:step]
x = 'computer'
#print indexes 1 to 3
print(x[1:4])
# print indexes using a step, print x of 1 to six using a two step. So iut takes every other item
print(x[1:6:2])
# open colon is end of string. where ever the colon is, you can use the colon open to get the rest.
print(x[3:])
# uses the colon to get everything before the index
print(x[:5])
# negative indexes start at the right side of the string
print(x[-1])
print(x[-3])
# lets add the colons and negatives together!
print(x[-3:])
print(x[:-2])

omp
opt
puter
compu
r
t
ter
comput

In [16]:
# Adding and concatinating

#string
x = 'horse' + 'shoe'
print(x)

#list
y = ['pig', 'cow'] + ['horse']
print(y)

# tuple, the comma tells python this is a tuple! VERY IMPORTANT, otherwise it treats it like a string and will throw an error
z = ('Keving', 'Nick', 'Jenny') + ('Craig',)
print (z)

#add Rena to tuple above, using concatination
r = tuple(z) + ('Rena',)
print(r)

horseshoe
['pig', 'cow', 'horse']
('Keving', 'Nick', 'Jenny', 'Craig')
('Keving', 'Nick', 'Jenny', 'Craig', 'Rena')

In [18]:
# multiplying, we are multiplying the lists, not multiplyign as an operator

#string
x = 'bug' * 3
print(x)

#list
y = [8, 5] * 3
print(y)

# tuple
z = (2, 4) * 3
print(z)

bugbugbug
[8, 5, 8, 5, 8, 5]
(2, 4, 2, 4, 2, 4)

In [20]:
# checking membership- testing whether an item is or is not in a sequence, BOOLEAN

#string
x = 'bug'
print('u' in x)
print('a' in x)

# list
y = ['pig', 'cow', 'horse']
print('cow' not in y)
print('pony' not in y)
print('pig' in y)

# tuple
z = ('Kevin', 'Nick', 'Jenny', 'Craig')
print('Nick' in z)
print('rena' in z)

True
False
False
True
True
True
False

In [23]:
# iterate through the items in a sequence

#item
x = [7, 8, 3]
for item in x:
    print(item)

# index and item, use enumerate to return index and an item, index item names are arbitary, name them what you want
y = [7, 8, 9]
for index, item in enumerate(y):
    print(index, item)

print('----------')
# number of items in a sequence

#string
x = 'bug'
print(len(x))

# list
y = ['pig', 'cow', 'horse']
print(len(y))

#tuple
z = ('Kevin', 'Nick', 'Jenny', 'Craig')
print(len(z))

7
8
3
0 7
1 8
2 9
----------
3
3
4

In [32]:
# minimum: find the minimum item in a sequence lexicographically(elements of a totally ordered set). Alpha or numeric types, but cannot mix types, GOES ALPHABETICALLY

#string
x = 'bug'
print(min(x))

q = '840284'
print(min(q))

# list
y = ['pig', 'cow', 'horse']
print(min(y))

# doesn't work properly with negative numbers, 0 in the list throws an error
w = ['34', '-1', '-22']
print(min(w))

#tuple
z = ('Kevin', 'Nick', 'Jenny', 'Craige')
print(min(z))

b
0
cow
-1
Craige

In [36]:
# maximum: find the minimum item in a sequence lexicographically(elements of a totally ordered set). Alpha or numeric types, but cannot mix types, GOES ALPHABETICALLY

#string
x = 'bug'
print(max(x))

q = '840284'
print(max(q))

# list
y = ['pig', 'cow', 'horse']
print(max(y))

# doesn't work properly with negative numbers, 0 in the list throws an error(why is this?)
w = ['-233', '-1', '-22']
print(max(w))

#tuple
z = ('Kevin', 'Nick', 'Jenny', 'Craige')
print(max(z))

u
8
pig
-233
Nick

In [38]:
# sum: find the sum of items in a sequence, the entire sequence must be numeric

# string = error
# x = [5, 7, 'bug']
# print(sum(x)) #generates an error

#list
y = [5, 1, 1]
print(sum(y))
print(sum(y[-2:])) #combine slicing to get a sum of part of the list, this gets the last two numbers

# tuple
z = (50, 4, 7, 19)
print(sum(z))

7
2
80

In [44]:
# sorting: returns a new list of items in a sorted order, does not change the origional list

#string
x = 'bug'
print(sorted(x))

#list
y = ['pig', 'cow', 'horse']
print(sorted(y))

# number sort doesn't throw an error, but they go by the first position, so here you see 34 is in the middle even though it is higher, because it's a string
n = ['34', '1', '9']
print(sorted(n))

# non-string types work!
n = [34, 1, 9]
print(sorted(n))

# # no mixing types, this throws an error
# s = [34, 1, 'bug']
# print(sorted(s))

# tuple
z = ('Kevin', 'Nick', 'Jenny', 'Craige')
print(sorted(z))

['b', 'g', 'u']
['cow', 'horse', 'pig']
['1', '34', '9']
[1, 9, 34]
['Craige', 'Jenny', 'Kevin', 'Nick']

In [47]:
# you can also sort by second letter, by adding a key parameter and a lambda function to return the second character. 
# (the word key here is a defined parameter name, k is an arbitrary variable name)

z = ('Kevin', 'Nick', 'Jenny', 'Craige')
print(sorted(z, key=lambda k: k[1])) #sorts by second letter (index 1)
print(sorted(z, key=lambda k: k[3])) #sorts by fourth letter(index 3)

['Kevin', 'Jenny', 'Nick', 'Craige']
['Kevin', 'Craige', 'Nick', 'Jenny']

In [48]:
# count(item) - returns an int- the count of an item

# string
x = 'hippo'
print(x.count('p'))

# list
y = ['pig', 'cow', 'horse', 'cow']
print(y.count('cow'))

# tuple
z = ('Kevin', 'Nick', 'Jenny', 'Craige')
print(z.count('Nick'))

2
2
1

In [49]:
# index(item) - returns an int- the index of an item

# string - prints first occurance
x = 'hippo'
print(x.index('p'))

# list - prints first occurance
y = ['pig', 'cow', 'horse', 'cow']
print(y.index('cow'))

# tuple
z = ('Kevin', 'Nick', 'Jenny', 'Craige')
print(z.index('Nick'))

2
1
1

In [50]:
# unpacking - unpack the n items of a sequence into n variables
# number of variables has to match the length of the string

x = ['pig', 'cow', 'horse']
a, b, c = x # sets x strings to each variable in index order
print(a, b, c)

pig cow horse